/*основний текст #212121*/
/*колір тексту абзацу #757575*/
/*синій колір *#2196F3*/
/*білий колір #FFFFFF*/
/* вторичний колір фону #F5F4FA*/
:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --href-text-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --hero-bg-color: #2f303a;
}

.list {
  list-style: none;
}
body {
  color: var(--primery-text-color);
  background-color: var(--white-color);
}
/*спан лого*/
.logo {
  color: var(--href-text-colorhref);
}

/* стайл нав селектор*/
.site-nav {
  color: var(--primery-text-color);
}
.site-nav :hover,
.site-nav :focus {
  color: var(--href-text-color);
}
.site-nav .current {
  color: var(--href-text-color);
}
.auth-nav {
  color: var(--primery-text-color);
}
.auth-nav :hover,
.auth-nav :focus {
  color: var(--href-text-color);
}
/* Секція героя */
.hero-title {
  color: var(--white-color);
  background-color: var(--hero-bg-color);
}
/*Секційні стили*/
.section {
  color: var(--primery-text-color);
}
.section .text {
  color: var(--title-text-color);
}
/* Особливости */

.feature-list .text {
  color: var(--title-text-color);
}

/* Button */
.button {
  color: var(--primery-text-color);
  background-color: var(--secondary-background-color);
}
.button.primary {
  color: var(--white-color);
  background-color: var(--href-text-color);
}
/* Навігація соц мереж під Нашою командою */
.section .activity {
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--href-text-color);
}
/* Постійні кліенти */
.clients-list :hover,
.clients-list :focus {
  background-color: var(--href-text-color);
}
/* Футер */
.footer-media .link:hover,
.footer-media .link:focus {
  color: var(--href-text-color);
}
.footer-media .call-text {
  color: var(--white-color);
  background-color: var(--hero-bg-color);
}
/* час відео 1:39 */
