/*основний текст #212121*/
/*колір тексту абзацу #757575*/
/*синій колір *#2196F3*/
/*білий колір #FFFFFF*/
/* вторичний колір фону #F5F4FA*/
:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --href-text-color: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --hero-bg-color: #2f303a;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link-user {
  text-decoration: none;
}
h2 {
  color: var(--primery-text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
body {
  color: var(--primery-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}
/*спан лого*/
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
.logo-web {
  color: var(--href-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
/* стайл нав селектор*/
.site-nav {
  color: var(--primery-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--href-text-color);
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--href-text-color);
}
.auth-nav {
  color: var(--primery-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.auth-nav :hover,
.auth-nav :focus {
  color: var(--href-text-color);
}
/* Секція героя */
.hero-title {
  color: var(--white-color);
  background-color: var(--hero-bg-color);

  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
/*Секційні стили*/
.section {
  color: var(--primery-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Team */
.team {
  background-color: #f5f4fa;
}
.team-title {
  color: var(--primery-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
/* Параграфи в розділі особливості*/
.section-text {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
/* Заголовки  H3 */
.section-title {
  color: var(--secondary-background-color);
  background-color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* Button */

.button {
  color: var(--white-color);
  background-color: var(--href-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  text-decoration: none;
}
/* Навігація соц мереж під Нашою командою */
.section-profession {
  color: var(--title-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
.link-user:hover,
.link-user:focus {
  color: var(--href-text-color);
}
/* Постійні кліенти */
.clients-list :hover,
.clients-list :focus {
  background-color: var(--href-text-color);
}
/* Ссилки */
.link:hover,
.link:focus {
  color: var(--href-text-color);
}
.social-network-text {
  color: var(--white-color);
  background-color: var(--hero-bg-color);
}
/* час відео 1:39 */
