.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1140px) {
    flex-wrap: nowrap;
  }
}

.features-item {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1140px) {
    width: 270px;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.features-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;

  padding: 25px 100px;
  background: #f5f4fa;
}
.image-icon {
  height: 70px;
  width: 70px;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.feature-title {
  margin-top: 30px;
  margin-bottom: 10px;

  padding-top: 0;
  padding-bottom: 0;

  color: var(--primery-text-color);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
