/* Футер */
.footer {
  background-color: var(--hero-bg-color);
}
.footer-wrapper {
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;

    // align-items: baseline;

    @media screen and (min-width: 1140px) {
      justify-content: space-between;
    }
  }
}
.footer-contacks {
  margin-bottom: 60px;

  @media screen and (min-width: 1140px) {
    margin: 0;
  }
}
.info-link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.info-link:focus,
.info-link:hover {
  color: #ffffff;
}
.contacks-address {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.contacks-address:focus,
.contacks-address:hover {
  color: #ffffff;
}
.footer-contacks {
  background-color: #2f303a;
}
.contacks-link {
  margin-bottom: 9px;
}
.footer-social {
  margin: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 1140px) {
    margin: 0;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.social-join {
  color: var(--white-color);

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.social-network-text {
  margin: 0;
  margin-bottom: 20px;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-item {
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-item:hover {
  background-color: var(--href-text-color);
}

.social-link {
  display: flex;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}
.icon-link {
  height: 20px;
  width: 20px;
}
.footer-logo .logo {
  color: #ffffff;

  margin-bottom: 20px;
}
