.page-header {
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
// .container-nav {
//   @media screen and (max-width: 767px) {
//     width: 100%;
//     height: 60px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }
/*спан лого*/
.logo {
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
.hidden-header {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  width: 0;
  height: 0;
  color: var(--primery-text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
.accent {
  color: var(--href-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.78px;
}
.menu-button {
  display: inline-flex;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;

    padding: 15px;
    text-align: center;
    height: 796px;
    background-color: #3ee746;
    color: #000000;
    font-size: 15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    text-align: center;
  }

  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    text-align: center;
  }
}
.menu-button.is-open .icon-menu {
  display: block;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* site-nav*/
.site-nav {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 48px;
    left: 40px;
    height: 192px;

    font-size: 40px;
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primery-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    text-decoration: none;
  }

  @media screen and (min-width: 1140px) {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav-item {
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    height: 100%;
  }
}
.site-nav-item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.menu-link {
  height: 100%;
}
.menu-link.current::after {
  display: none;

  /* transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -28px;
    border-radius: 5px;
    background-color: var(--href-text-color);
  }
}

.site-nav-item + .site-nav-item {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--href-text-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--href-text-color);
}

/* auth-nav */
.auth-nav-item + .auth-nav-item {
  @media screen and (min-width: 1140px) {
    margin-left: 30px;
  }
}

.auth-nav {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 134px;
    left: 40px;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    // display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
    text-decoration: none;

    @media screen and (min-width: 1140px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
.auth-nav-item:not(:first-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .auth-nav-item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1140px) {
  .auth-nav-item:first-child {
    margin-bottom: 0;
  }
}
.auth-nav-number {
  font-size: 34px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.auth-nav-item {
  display: flex;
}

.auth-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1140px) {
    margin-left: 0;
  }
}

.icon-hover {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: var(--title-text-color);
  }
}

.icon-smartphone {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    height: 16px;
    width: 10px;
    margin-right: 10px;
    fill: var(--title-text-color);
  }
}

.auth-nav-item:hover .icon-hover {
  fill: var(--href-text-color);
}

.auth-nav-item:hover .icon-smartphone {
  fill: var(--href-text-color);
}

.auth-nav-item:hover,
.auth-nav-item:focus {
  color: var(--href-text-color);
}
.nav-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav-social {
  position: absolute;
  bottom: 48px;
  left: 40px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav-social-item:hover,
.nav-social-item:focus {
  color: var(--href-text-color);
}
.nav-social-item:not(:last-child) {
  margin-right: 9.5px;
  border-right: 2px solid rgba(33, 33, 33, 0.2);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.nav-social-link {
  margin-right: 9.5px;
}
