/*  В наша команда */
.section.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Навігація соц мереж під Нашою командою */
.accent-profession {
  margin-top: 10px;

  color: var(--title-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
.team-list {
  display: block;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1140px) {
    flex-wrap: nowrap;
  }
}
.team-item {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1140px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-social {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
// .team-social a:not(:last-child) {
//   margin-right: 10px;
// }
.team-social-user {
  display: flex;
  padding: 0;
  border: none;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.team-social-user:hover,
.team-social-user:focus {
  background-color: var(--href-text-color);
}
.icon-accent {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}
.team-social-user:hover .icon-accent {
  fill: var(--white-color);
}
/* Заголовок Постійні клієнти */
.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  padding-bottom: 0;

  color: var(--primery-text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}
/* Заголовок H2 в наша команда */
.team-subtitle {
  display: flex;
  flex-wrap: inherit;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 16px;

  color: var(--primery-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
