/* Постійні кліенти */
.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1140px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regular-costumers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * 30px);

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * 30px);
  }
  @media screen and (max-width: 1139px) {
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1140px) {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: calc(-1 * 30px);
  }
}

.regular-costumers-item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  // padding: 0;
  // margin: 0;
  background-color: #ffffff;
  max-width: 230px;
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    max-width: 226px;
  }
  @media screen and (max-width: 1139px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1140px) {
    &:not(:first-child) {
      margin-left: 30px;
    }
    max-width: 165px;
  }
}

.regular-costumers-item:hover {
  border-color: #2196f3;
}
.regular-costumers-item:hover .icon-logo {
  fill: var(--href-text-color);
}
.regular-link {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}
.icon-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
// .regular-costumers :not(:last-child) {
//   margin-right: 30px;
// }
